
<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Liste des employés</div>
        
        <div class="table-responsive{-sm|-md|-lg|-xl}">
            <table class="table table-stripped table-bordered table-hover  ">
              <thead class="bg-success">
                <tr>
                    
                  <th>Id</th>                  
                  <th>Code</th>
                  <th>Client</th>
                  <th>Titre</th>
                  <th>Type</th>
                  <th>Description</th>
                  <th>Date de début</th>
                  <th>Date de fin estimée</th>
                  <th>date de fin réel</th>
                  <th colspan="2">Action </th>
                 
                </tr>
              </thead>
              <tbody class="bg-warning">
                <tr *ngFor = "let p of pro">

                  <td>{{p.idprojet}}</td>                 
                  <td>{{p.code}}</td>
                  <td>{{p.client}}</td>
                  <td>{{p.titre}}</td>
                  <td>{{p.type}}</td>
                  <td>{{p.description}}</td>
                  <td>{{p.datedebut}}</td>
                  <td>{{p.datefinestimee}}</td>
                  <td>{{p.datefinreel}}</td>
                  <td>
                    <button (click) = "editProjet(p.idprojet)" class = "btn btn-info"> Update</button>
                    <button (click) = "deleteProjet(p.idprojet)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                </td>
                </tr>                
              </tbody>
            </table>
          </div>
    </div>
</div>

